.container{
    background-image: url(/images/top-view-painting-supplies-with-copy-space.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}

.p{
    position: relative;
    top: 50px;
    color: black;
    font-style: italic;
    font-size: x-large;
}


body{
    background-image: url(/images/top-view-painting-supplies-with-copy-space.jpg);
    background-attachment: fixed;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    
        
        position: fixed;
        bottom: 0;
        width: 100%;
    
  }

  button{
    font-size: 23px;
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.3s;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

  }
  button:hover{
    background-color: #000000;
    color: #ffffff;
  }

  

